<ion-view view-title="BCC Wallet">
  <ion-content>

    <div class="light-blue darken-4 white-text padding">
      <div class="row">
        <h4 class="col white-text no-margin text-roboto"><span class="crypto-icon crypto-vault-symbol">Ƀc&nbsp;</span>{{user.BCHbalance | number:5}}</h4>
        <img src="http://chart.apis.google.com/chart?cht=qr&chs=300x300&chl={{user.userBCHAddress}}" alt="QR Code" style="height: 10%; width: 10%;" ng-click="showConfirm()">
      </div>
      <div class="row no-margin">
        <div class="col col-66  white-text">
          <small style="color: #a9a9a9">Freezed BCC Balance </small><br><span class="">Ƀc&nbsp;</span>{{user.FreezedBCHbalance | number:5}}
        </div>
      </div>
    </div>
    <div class="list" style="background: #ececec;">
      <a class="item item-avatar valign-wrapper" ui-sref="app.bchsent">
              <img src="img/Bitcoin_cash_Logo.png">
              <h2>Sent Transactions</h2>
          </a>
      <hr class="no-margin">
      <a class="item item-avatar valign-wrapper" ui-sref="app.bchreceived">
              <img src="img/Bitcoin_cash_Logo.png">
              <h2>Received Transactions</h2>
          </a>
      <hr class="no-margin">
      <a class="item item-avatar valign-wrapper" ui-sref="app.buySellTransaction">
              <img src="img/Bitcoin_cash_Logo.png">
              <h2>Buy/Sell Orders</h2>
          </a>
    </div>
    <ion-list>
      <ion-item item="item" class=" margin-top item-remove-animate margin-left  blue lighten-1 margin" ng-repeat="bids in user.bids">

        <span>Bid Amount<h2 class="pull-right white-text">Ƀc&nbsp;{{bids.bidAmountBCH}} &nbsp; @ {{bids.bidRate}} Ƀc/Ƀ</h2><br><span class="pull-right"> Ƀ&nbsp;{{bids.bidAmountBTC}}</span><small><em>{{bids.createdAt| date:'dd-MM-yy HH:mm'}}</em></small></span>
        <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
        </ion-delete-button>
        <ion-option-button class="button-assertive" ng-click="removeBids(bids)">
          <i class="small material-icons">delete</i>
        </ion-option-button>
      </ion-item>
      <ion-item item="item" class=" margin-top item-remove-animate margin-left orange lighten-1 margin" ng-repeat="asks in user.asks">

        <span>Ask Amount<h2 class="pull-right white-text">Ƀc&nbsp;{{asks.askAmountBCH}} &nbsp; @ {{asks.askRate}} Ƀc/Ƀ</h2><br><span class="pull-right"> Ƀ&nbsp;{{asks.askAmountBTC}}</span><small><em>{{asks.createdAt|date:'dd-MM-yy HH:mm'}}</em></small></span>
        <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
        </ion-delete-button>
        <ion-option-button class="button-assertive" ng-click="removeAsks(asks)">
          <i class="small material-icons">delete</i>
        </ion-option-button>
      </ion-item>
      <div class="row margin padding"></div>
    </ion-list>
  </ion-content>
  <div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large light-blue darken-4" id="fab-crypto">
          <i class="large material-icons">import_export</i>
        </a>
    <ul>
      <li class="waves-effect waves-light" ui-sref="app.buycrypto"><a href="#!"><i class="material-icons">send</i>&nbsp;&nbsp;<span class=" valign-text-bottom">Buy</span></a></li>
      <li class="waves-effect waves-light valign-wrapper" ui-sref="app.sellcrypto"><a href="#!"><i class="material-icons">record_voice_over</i>&nbsp;&nbsp;<span class="valign-text-bottom">Sell</span></a></li>
      <li class="waves-effect waves-light valign-wrapper" ui-sref="app.sendreceivecrypto"><a href="#!"><i class="material-icons">send</i>&nbsp;&nbsp;<span class=" valign-text-bottom">Send</span></a></li>
      <li class="waves-effect waves-light" ui-sref="app.requestcrypto"><a href="#!"><i class="material-icons">record_voice_over</i>&nbsp;&nbsp;<span class="valign-text-bottom">Request</span></a></li>
    </ul>
  </div>
</ion-view>
