<ion-view class="onboarding" id="onboarding-tour">
  
  <ion-slides class="slides light-blue darken-4 white-text padding-top padding-bottom" options="options" slider="data.slider">
    <ion-slide-page>

      <ion-content id="onboard-tour-secure" class="light-blue darken-4 white-text padding-top padding-bottom center" style="margin-top:115px" scroll="false">
        <h3 class="white-text font-lighter"><div class="onboarding-topic center font-lighter text-roboto"  translate>Bitcoin Cash is secure,<br/>digital money.</div></h3><br>
        <div class="onboard-subtext padding">
          <div class="center font-lighter text-roboto font-20 padding-top"  translate>You can spend bitcoin cash at millions of websites and stores worldwide.</div><br><br>
          <div class="cta-buttons">
            <div class="onboarding-tldr center font-lighter text-roboto font-20"  translate>Just scan the code to pay.</div>
          </div>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content id="onboard-tour-currency" class="light-blue darken-4 white-text padding-top padding-bottom center" style="margin-top:115px" scroll="false">
        <h3 class="white-text font-lighter padding-5"><div class="onboarding-topic center font-lighter text-roboto"  translate>Low Transaction<br>Fees</div></h3><br>
        <div class="onboard-subtext padding">
          <div class="onboarding-topic center font-lighter text-roboto font-20"  translate>You can trade, send, receive at very low network fees</div><br><br>
        
          <div class="cta-buttons">
            <div class="onboarding-topic center font-lighter text-roboto font-20"  translate>The exchange bitcoin Cash from Bitcoin</div>         
          </div>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content id="onboard-tour-control" class="light-blue darken-4 white-text padding-top padding-bottom center" style="margin-top:101px"  scroll="false">
        <h3 class="white-text font-lighter"><div class="onboarding-topic center font-lighter text-roboto"  translate>Secure your Bitcoin Cash here!!</div></h3><br>
        <div class="onboard-subtext-3">
            <div class="onboarding-topic center font-lighter text-roboto font-20"  translate>BccPay enables your bitcoin cash with cutting-edge security.</div>
              <div class="onboarding-topic center padding" style="margin-top: 26px">
                 <button class="button button-standard button-block "  ng-click="login()" translate>
                  Sign In
                </button><br>
                 <button class=" center button button-standard button-block" style="margin-top: 23px;" ng-click="signUp()" translate>
                  Sign Up
                </button>
              </div>
        </div>
      </ion-content>
    </ion-slide-page>
  </ion-slides>
</ion-view>
