<ion-view view-title="Request BCC">
  <ion-content class="relative-position">
    <div class="row center padding-top">
      <div class="col center">
        <img src="http://chart.apis.google.com/chart?cht=qr&chs=300x300&chl=bitcoincash:{{userBCHAddress.userBCHAddress}},amount:{{requestAmountBCH}}" alt="QR Code">
        <div class="">
          <span>
                          {{userBCHAddress.userBCHAddress}}
                        </span>
        </div>

      </div>

    </div>
    <div class="row padding">
      <div class="list">
        <label class="item item-input">
                            <span class="input-label">Amount(BCC)</span>
                            <input type="text" ng-model="requestAmountBCH" ng-change="myRequestFunc(requestAmountBCH)">
                          </label>
      </div>
    </div>
    <div class="center">
      <a class="btn-floating btn-large waves-effect center waves-light light-blue darken-4 center" ng-click="shareBCHRequest('bitcoincash:'+userBCHAddress.userBCHAddress+', amount: '+requestAmountBCH)"><i class="material-icons">share</i></a>
    </div>
  </ion-content>

</ion-view>
